.signedIn {
  display: none;

}

.signedOut {
  display: block;
}

.killMee {
  /* position: fixed; */
  width: 100vw;
  height: 100vh;
  background: url('images/group_27.png') no-repeat;
}

.laugh {
  position: static;
  top: 10vh;
  left: 60vw;
  width: 19vh;
  height: 19vh;
  background: url('images/group_29.png');
  background-size: cover;
}

.signup {
  position: absolute;
  padding: 3px 20px;
  border: none;
  border-radius: 20px;
}

.login {
  position: absolute;
  left: 1200px;
}

/* RESULTS BRAIN */
.results_brain_background {
  height: 100vh;
  width: 100vw;
  background: url('images/Results_Crossword.png') no-repeat;
  
}

.results_container {
  position: relative;
  height: 423px;
  width: 416px;
  left: 510px;
  top: 145px;
}

/* SHOW BRAIN */
.show_brain_background {
  height: 100vh;
  width: 100vw;
  background: url('images/Show_Crossword.png') no-repeat;
}

