.signedIn {
  display: none;

}

.signedOut {
  display: block;
}

<<<<<<< HEAD
/*  */

=======
.killMee {
  width: 100vw;
  height: 100vh;
  background: url('images/group_27.png');
  background-size: cover;
}

.laugh {
  position: absolute;
  top: 10vh;
  left: 60vw;
  width: 19vh;
  height: 19vh;
  background: url('images/group_29.png');
  background-size: cover;
}
>>>>>>> a92ed0d84e36e36de332e1de3048a81a32880182
